/* ---------------------- */
/* About */
/* ---------------------- */

#about {
  background-color: var(--medium-grey);
  display: flex;
  align-items: center;
  padding-top: 120px;
}

#about > img {
  width: 20%;

  border: white solid 10px;
}

#about > div {
  margin-right: calc(var(--spacing) * 3);
}

#about p {
  text-align: justify;
  margin-bottom: calc(var(--spacing) * 2);
}

#about > div > div:last-child {
  display: flex;
  justify-content: center;
}

#about > div img {
  width: 40px;
}

#about > div img:first-child {
  margin-right: calc(var(--spacing) * 2);
}
