/* ---------------------- */
/* Footer */
/* ---------------------- */

footer {
    height: 80px;
    border-top: solid 1px var(--mint-green);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--dark-grey);
  }
  
  footer img {
    width: 35px;
    margin-right: 15px;
  }
  
  footer img:hover {
    width: 40px;
    margin-right: 10px;
  }
  
  footer a,
  footer p {
    color: inherit;
    font-size: 16px;
    margin-bottom: 0;
  }
  
  footer a {
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
  }
  
  footer a:hover {
    color: var(--mint-green);
  }
