/* ---------------------- */
/* Global rules */
/* ---------------------- */

:root {
  --spacing: 16px;
  --light-grey: #E8E8E8;
  --medium-grey: #C0C0C0;
  --dark-grey: #6f6f6f;
  --mint-green: #99FFCC;
  --main-title-font: 'Martel', Georgia, 'Times New Roman', Times, serif;
  --subtitle-font: 'Cormorant', Georgia, 'Times New Roman', Times, serif;
  --text-font: 'Proza Libre', Georgia, 'Times New Roman', Times, serif;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
margin-left: 200px;
}

/* Sections */
section {
  min-height: 400px;
  padding-left: 20px
}

/* Titles */

/* Paragraphs */
p {
  font-family: var(--text-font);
}

/* Links */

a {
  color : inherit;
  text-decoration: none;
  cursor: pointer;
}